/* CSS Ui-Toolkit Components */

* {
    padding: 0px;
    margin: 0px;
    letter-spacing: 0.2px;
    transition: 0.5s;
}

.no-horizontal-margin {
    margin-left: 0px;
    margin-right: 0px;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.button-default {
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    box-sizing: border-box;
    &:focus {
        outline: none;
    }
}

.card {
    .card-header {
        padding: 10px 20px;
        width: 100%;
        border-radius: 4px 4px 0px 0px;
        font-weight: 700;
    }
    .card-content {
        padding: 10px 20px;
    }
    .card-button {
        padding: 20px 20px;
    }
}

.modal {
    z-index: 98;
    display: none;
    transition: 1s;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    .modal-content {
        margin: auto;
    }
}

.input-text {
    width: 100%;
    position: relative;
    input {
        width: 100%;
        border: 0;
        border-radius: 4px;
        outline: none;
        transition: .2s ease-in-out;
        box-sizing: border-box;
        height: 3rem;
        padding: 0px 10px;
    }
    label {
        padding: 0px 10px;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        position: absolute;
        cursor: text;
        transition: .2s ease-in-out;
        box-sizing: border-box;
        font-size: .8rem;
        top: -6px;
        left: 6px;
        pointer-events: none;
        font-weight: 700;
    }
    input,
    label {
        font-size: 1rem;
    }
}

.control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 18px;
    input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
}

.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    &:after {
        content: '';
        position: absolute;
        display: none;
    }
}

.control--radio {
    .control__indicator {
        border-radius: 50%;
        &:after {
            left: 7px;
            top: 7px;
            height: 6px;
            width: 6px;
            border-radius: 50%;
        }
    }
}

.control--checkbox {
    .control__indicator {
        &:after {
            left: 5px;
            top: 5px;
            width: 10px;
            height: 10px;
        }
    }
}

.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
    select {
        display: inline-block;
        width: 100%;
        cursor: pointer;
        padding: 10px 15px;
        outline: 0;
        border: 0;
        border-radius: 0;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        &::-ms-expand {
            padding: 10px 15px;
        }
    }
}

.select__arrow {
    position: absolute;
    top: 16px;
    right: 15px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0 5px;
}

.default-table {
    table {
        border-collapse: collapse;
        thead {
            tr {
                th {
                    padding: 5px 25px 5px 5px;
                }
            }
        }
        tbody tr {
            transition: 0.5s;
            td,
            td a {
                padding: 5px 25px 5px 5px;
                font-weight: 500;
                fa-icon {
                    font-size: 14px;
                }
            }
        }
        tbody tr:nth-child(odd) {
            td,
            td a {
                fa-icon {
                    font-size: 14px;
                }
            }
        }
    }
}

div.checkbox.switcher,
div.radio.switcher {
    label {
        padding: 0;
        * {
            vertical-align: middle;
        }
        input {
            display: none;
            &+span {
                position: relative;
                display: inline-block;
                margin-right: 10px;
                width: 56px;
                height: 28px;
                border-radius: 50px;
                transition: all 0.3s ease-in-out;
                small {
                    position: absolute;
                    display: block;
                    width: 50%;
                    height: 100%;
                    border-radius: 50%;
                    transition: all 0.3s ease-in-out;
                    left: 0;
                }
            }
            &:checked+span {
                small {
                    left: 50%;
                }
            }
        }
    }
}