/* CSS Ui-Toolkit Components */
* {
  padding: 0px;
  margin: 0px;
  letter-spacing: 0.2px;
  transition: 0.5s;
}

.no-horizontal-margin {
  margin-left: 0px;
  margin-right: 0px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.button-default {
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  box-sizing: border-box;
}
.button-default:focus {
  outline: none;
}

.card .card-header {
  padding: 10px 20px;
  width: 100%;
  border-radius: 4px 4px 0px 0px;
  font-weight: 700;
}
.card .card-content {
  padding: 10px 20px;
}
.card .card-button {
  padding: 20px 20px;
}

.modal {
  z-index: 98;
  display: none;
  transition: 1s;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.modal .modal-content {
  margin: auto;
}

.input-text {
  width: 100%;
  position: relative;
  /* Interation */
}
.input-text input {
  width: 100%;
  border: 0;
  border: 2px solid #9e9e9e;
  border-radius: 4px;
  outline: none;
  transition: 0.2s ease-in-out;
  box-sizing: border-box;
  height: 3rem;
  padding: 0px 10px;
}
.input-text label {
  padding: 0px 10px;
  top: 0;
  left: 0;
  color: #616161;
  display: flex;
  background-color: #ffffff;
  align-items: center;
  position: absolute;
  cursor: text;
  transition: 0.2s ease-in-out;
  box-sizing: border-box;
  font-size: 0.8rem;
  top: -6px;
  left: 6px;
  pointer-events: none;
  font-weight: 700;
}
.input-text input,
.input-text label {
  font-size: 1rem;
}
.input-text input:valid,
.input-text input:focus {
  border: 2px solid #26a69a;
}
.input-text input:valid + label,
.input-text input:focus + label {
  color: #26a69a;
}

.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 18px;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control input:focus ~ .control__indicator {
  background: #ccc;
}
.control input:checked ~ .control__indicator {
  background: #2aa1c0;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control input:checked:focus ~ .control__indicator {
  background: #0e647d;
}
.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control:hover input ~ .control__indicator {
  background: #ccc;
}
.control:hover input:not([disabled]):checked ~ .control__indicator {
  background: #0e647d;
}

.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
}
.control__indicator:after {
  content: "";
  position: absolute;
  display: none;
}

.control--radio .control__indicator {
  border-radius: 50%;
}
.control--radio .control__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff;
}
.control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b;
}

.control--checkbox .control__indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}

.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}
.select select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: #e6e6e6;
  color: #7b7b7b;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select select::-ms-expand {
  display: none;
}
.select select:hover {
  color: #000;
  background: #ccc;
}
.select select:hover ~ .select__arrow {
  border-top-color: #000;
}
.select select:focus {
  color: #000;
  background: #ccc;
}
.select select:focus ~ .select__arrow {
  border-top-color: #000;
}
.select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.select select:disabled ~ .select__arrow {
  border-top-color: #ccc;
}

.select__arrow {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #7b7b7b transparent transparent transparent;
}

.default-table table {
  border-collapse: collapse;
}
.default-table table thead {
  background: #009585;
  color: #ffffff;
}
.default-table table thead tr th {
  padding: 5px 25px 5px 5px;
}
.default-table table tbody tr {
  transition: 0.5s;
}
.default-table table tbody tr td,
.default-table table tbody tr td a {
  padding: 5px 25px 5px 5px;
  color: #2d2d2d;
  font-weight: 500;
}
.default-table table tbody tr td fa-icon,
.default-table table tbody tr td a fa-icon {
  color: #2d2d2d;
  font-size: 14px;
}
.default-table table tbody tr:nth-child(odd) {
  background-color: rgba(0, 149, 133, 0.5);
  color: #fff;
}
.default-table table tbody tr:nth-child(odd) td,
.default-table table tbody tr:nth-child(odd) td a {
  color: #fff;
}
.default-table table tbody tr:nth-child(odd) td fa-icon,
.default-table table tbody tr:nth-child(odd) td a fa-icon {
  color: #fff;
  font-size: 14px;
}
.default-table table tbody tr:nth-child(odd):hover {
  background-color: rgba(0, 149, 133, 0.8);
}

/*# sourceMappingURL=ui-components.css.map */
